/Lab1/nbproject/private/
/Lab1/Lab1-war/nbproject/private/
/Lab1/Lab1-ejb/nbproject/private/
/Lab1/Lab1-ejb/build/
/Lab1/build/
/Lab1/Lab1-war/build/
/Lab1/Lab1-war/dist/
/Lab1/Lab1-ejb/dist/
/Lab1/dist/
/Lab1/target/
