/Lab1/nbproject/private/
/Lab1/Lab1-war/nbproject/private/
/Lab1/Lab1-ejb/nbproject/private/
/Lab1/Lab1-ejb/build/
/Lab1/build/
/Lab1/Lab1-war/build/
/Lab1/Lab1-war/dist/
/Lab1/Lab1-ejb/dist/
/Lab1/dist/
/Lab1/target/
/Lab2/nbproject/private/
/Lab2/Lab2-war/nbproject/private/
/Lab2/Lab2-ejb/nbproject/private/
/Lab2/Lab2-ejb/build/
/Lab2/Lab2-ejb/dist/
/Lab2/Lab2-war/build/
/Lab2/build/
/Lab2/Lab2-war/dist/
/Lab2/dist/
/Lab3/nbproject/private/
/Lab3/Lab3-war/nbproject/private/
/Lab3/Lab3-ejb/nbproject/private/
